*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
}
.container {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.card {
    display: block;
    z-index: 10;
    margin: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 375px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
} 

.card img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* margin-bottom: 20px; */
}

.card-content {
    /* border: 1px solid black; */
    padding: 0px 20px;
    margin: 20px 0px;
}

.card-content h5 {
    margin: 10px 0px;
    letter-spacing: 4px;
    font-size: 18px;
    color: hsl(228, 12%, 48%);
}

#card-content-h1 {
    margin: 10px 0px;
    /* letter-spacing: -2px; */
    color: hsl(212, 21%, 14%); 
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Fraunces', serif; */
}

#card-content-p {
    font-size: 17px;
    line-height: 1.5;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

.price {
    margin-top: 20px;
}

.prices {
    display: flex;
    margin-top: 43px;
    align-items: center;
}

.prices h1 {
    margin-right: 25px;
    color: hsl(158, 36%, 37%);
    font-weight: bolder;
    font-size: xx-large;
}

.prices p {
    text-decoration-line: line-through;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

.price button {
    width: 100%;
    padding: 18px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: hsl(158, 36%, 37%);;
}

@media screen and (min-width: 740px){
    .card {
        display: flex;
        background-color: hsl(0, 0%, 100%);
        width: 600px;
    }
    .pics {

        width: 50%;
    }
    .card img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        border-radius: 0px;
    }

    .card-content {
        width: 50%;
        padding: 20px;
    }
}